#editor {
  height: 15rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 4px solid #aaa;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

img {
  width: 100%;
}
